body {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 212, 255, 1) 45%,
    rgba(14, 9, 121, 1) 93%
  );
}

#content{
  padding: auto;
  margin: auto;
  height: auto;
}

.principal {
  font-size: xx-large;
}

.properties {
  font-size: x-large;
}
